@page "/"

<PageTitle>WPL Home</PageTitle>

<h1>Welcome to the Welland Pool League. </h1>

<p>Please select a menu item to navigate.</p>
<p>Here you can view the league statistics, rosters and schedules. </p>

<p><h4>Games start at 7:30pm</h4></p>


