@page "/"
@attribute [StreamRendering]

<PageTitle>WPL Home</PageTitle>
<br />
<h1>Welcome to the Welland Pool League. </h1>
<br />
<p>Please select a menu item to navigate.</p>
<p>Here you can view the league statistics, rosters and schedules. </p>

<p><h4>Games start at 7:30pm</h4></p>

<p>Download the score sheet <a href="Downloads/Poolscoresheet.xls" download><Icon Name="IconName.Download" /></a></p>
<Divider />
<p>
    Share the site with this QRCode
    <br />
    <QRCode Value="https://wpl.codersden.com" EccLevel="EccLevel.Q" Icon="favicon.png" />
</p>

