@page "/player_stats"
@attribute [StreamRendering]


<PageTitle>Player Statistics</PageTitle>

<h1>Player Statistics</h1>


@if (players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th align="center">Name</th>
                <th align="center">Games Won</th>
                <th align="center">Games Lost</th>
                <th align="center">Average</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in players)
            {
                <tr>
                    <td>@player.Name</td>
                    <td>@player.GamesWon</td>
                    <td>@player.GamesLost</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Players> players = new();
    private APIService aPIService = new();
    private PlayerHelpers playerHelper = new();


    protected override async Task OnInitializedAsync()
    {
        players = await playerHelper.ConsolidatePlayer();
    }

}
