@page "/player_roster"
@attribute [StreamRendering]
@using Roster = WPLBlazor.Models.Roster

<PageTitle>Player Statistics</PageTitle>

<h1>Player Statistics</h1>


@if (teams == null || players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var team in teams)
    {

        <table class="table" border="1">
            <thead>
                <tr>
                    <th colspan="4">@team.TeamName</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <th widht="25%">Player Name</th>
                    <th width="25%">Average</th>
                    <th width="25%"></th>
                    <th width="25%">Captain?</th>
                </tr>
                @foreach (var player in players.Where(x => x.TeamId == team.Id))
                {
                    <tr>
                        <td>@player.FirstName @player.LastName</td>
                        <td>average_placeholder</td>
                        <td></td>
                        @if (player.Id == team.Captain_Player_Id)
                        {
                            <td><Icon Name="IconName.Check" /></td>
                        }
                        else
                        {
                            <td></td>
                        }

                    </tr>
                }

            </tbody>
        </table>
        <br />
    }

}

@code {

    private APIService aPIService = new();
    private PlayerHelpers playerHelper = new();
    private RosterHelper rosterHelper = new();
    private List<Player> players = [];
    private List<TeamDetails> teams = [];


    protected override async Task OnInitializedAsync()
    {
        teams = await aPIService.GetTeamDetails();

        players = await aPIService.GetAllPlayers();
    }
}
