<Bar Mode="BarMode.Horizontal"
     Breakpoint="Breakpoint.Desktop"
     CollapseMode="BarCollapseMode.Small"
     NavigationBreakpoint="Breakpoint.Desktop"
     Background="Background.Dark"
     ThemeContrast="ThemeContrast.Dark"
     Shadow="Shadow.Default"
     Height="Height.Auto">
        <BarStart>
            &nbsp;<img src="favicon.png" width="50" height="50" />
            <BarLink To="" Title="Welland Pool League">
                <h2>WPL</h2>
            </BarLink>
        </BarStart>
        <BarEnd>
            <Login />
            &nbsp;
        </BarEnd>
</Bar>

@code {

}
