<Bar Mode="BarMode.Horizontal"
     Breakpoint="Breakpoint.Desktop"
     NavigationBreakpoint="Breakpoint.Tablet"
     Background="Background.Dark"
     ThemeContrast="ThemeContrast.Dark"
     Shadow="Shadow.Default">
    <BarMenu Background="Background.Dark">
        <BarStart>
            <BarBrand Float="Float.Start">&nbsp;<img src="favicon.png" width="50" height="50" /></BarBrand>
            <BarLink To="">
                <h2>Welland Pool League</h2>
            </BarLink>
        </BarStart>
        <BarEnd>
            <Login />
        </BarEnd>
    </BarMenu>
</Bar>

@code {

}
