@attribute [StreamRendering]
<AuthorizeView>
    <Authorized>
        <a href="Account/Logout"><Button Color="Color.Warning">Log Out</Button></a>
    </Authorized>
    <NotAuthorized>
        <a href="Account/Login"><Button Color="Color.Success">Log in</Button></a>
    </NotAuthorized>
</AuthorizeView>