@using WPLBlazor.Models
@inherits LayoutComponentBase
@inject IVersionProvider VersionProvider

<link href="_content/Blazorise.LoadingIndicator/blazorise.loadingindicator.css" rel="stylesheet" />
<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <VerticalMenuBar />
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader>
            <Header  />
        </LayoutHeader>
        <LayoutContent Padding="Padding.Is3">
            <LoadingIndicator>
                @Body
            </LoadingIndicator>
        </LayoutContent>
    </Layout>
</Layout>
@* <div class="page">
    <div class="sidebar">
        <VerticalMenuBar />
    </div>

    <main>
        <div class="top-row px-4">
            <Login />
        </div>

        <article class="content px-4">
            <LoadingIndicator FullScreen>
            @Body
            </LoadingIndicator>
        </article>
        <Divider />
        <LayoutFooter>
        <p class="card-footer">
            <center>Site created and maintained by Chris Wiley on Golden Brothers 1</center>
            <br />
                <center>This site was made using Blazorise: @($"v{VersionProvider.MilestoneVersion}")</center>
        </p>
        </LayoutFooter>
    </main>

</div>
 *@
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
