@attribute [StreamRendering]
@inherits LayoutComponentBase


<link href="_content/Blazorise.LoadingIndicator/blazorise.loadingindicator.css" rel="stylesheet" />

<Layout Sider>
    <Layout Display="Display.Flex">
        <LayoutHeader Fixed>
            <Header />
        </LayoutHeader>
        <Layout Sider>
            <LayoutSider>
                <LayoutSiderContent>
                    <VerticalMenuBar />
                </LayoutSiderContent>
            </LayoutSider>
            <Layout>
                <LayoutContent Padding="Padding.Is3">
                    <LoadingIndicator IndicatorVerticalPlacement="LoadingIndicatorPlacement.Middle" FadeIn>
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <IndicatorTemplate>
                            <Animate Animation="Animations.FadeDownRight" Auto>
                                <Div>
                                    <SpinKit Type="SpinKitType.CircleFade" Size="50px" Centered />
                                </Div>
                            </Animate>
                        </IndicatorTemplate>
                    </LoadingIndicator>
                </LayoutContent>
                <LayoutFooter Fixed Background="Background.Dark" TextColor="TextColor.Light">
                    <center>Site created and maintained by Chris Wiley on Golden Brothers 1</center>
                </LayoutFooter>
            </Layout>
        </Layout>
    </Layout>
</Layout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    
}