@using WPLBlazor.Models
@inherits LayoutComponentBase
@inject IVersionProvider VersionProvider

<link href="_content/Blazorise.LoadingIndicator/blazorise.loadingindicator.css" rel="stylesheet" />
<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent>
            <VerticalMenuBar />
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader>
            <Header  />
        </LayoutHeader>
        <LayoutContent Padding="Padding.Is3">
            <LoadingIndicator>
                @Body
            </LoadingIndicator>
        </LayoutContent>
        <LayoutFooter>
            <center>Site created and maintained by Chris Wiley on Golden Brothers 1</center>
            <center>This site was made using Blazorise: @($"v{VersionProvider.MilestoneVersion}")</center>
        </LayoutFooter>
    </Layout>
</Layout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
