@attribute [StreamRendering]
@inherits LayoutComponentBase
@using WPLMudBlazor.Components.Layout


@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" />
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5" Class="mt-1">Application</MudText>
        </MudDrawerHeader>
        <VerticalMenuBar />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
    <MudAppBar Fixed Background="Background.Dark" TextColor="TextColor.Light">
        <center>Site created and maintained by Chris Wiley on Golden Brothers 1</center>
    </MudAppBar>
</MudLayout>


@* <MudLayout Sider>
    <MudLayout Display="Display.Flex">
        <MudLayoutHeader Fixed>
            <Header />
        </MudLayoutHeader>
        <Layout Sider>
            <LayoutSider>
                <LayoutSiderContent>
                    <VerticalMenuBar />
                </LayoutSiderContent>
            </LayoutSider>
            <Layout>
                <LayoutContent Padding="Padding.Is3">
                    <LoadingIndicator FadeIn>
                        <ChildContent>
                            @Body
                        </ChildContent>
                    </LoadingIndicator>
                </LayoutContent>
                <LayoutFooter Fixed Background="Background.Dark" TextColor="TextColor.Light">
                    <center>Site created and maintained by Chris Wiley on Golden Brothers 1</center>
                </LayoutFooter>
            </Layout>
        </Layout>
    </MudLayout>
</MudLayout> *@

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
}